.ant-btn-primary {
  background-color: #ffbe86;
  border-color: #ffbe86;
}
.ant-switch {
  background-color: #ffbec2;
}
.ant-menu-submenu-selected {
  background-color: #ffe9ce;
}
.ant-menu-item-selected {
  background-color: #ffe9ce;
}
