.ant-btn-primary {
  background-color: #6ab7ff;
  border-color: #6ab7ff;
}
.ant-switch {
  background-color: #6ab7ff;
}
.ant-menu-submenu-selected {
  background-color: #ffe9ce;
}
.ant-menu-item-selected {
  background-color: #ffe9ce;
}
